# Copyright (c) 2025 LATMOS (France, UMR 8190) and IGE (France, UMR 5001).
#
# License: BSD 3-clause "new" or "revised" license (BSD-3-Clause).

name: Spaces
on: [workflow_dispatch, pull_request]
jobs:
  Spaces:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Check that there are no space in file or directory names
        run: |
          if [[ $(find . | grep -cE "[[:space:]]") -gt 0 ]]; then
              echo "There are files or directories with spaces in their names:"
              find . | grep -E "[[:space:]]"
              exit 1
          fi
      - name: Make the script that checks for trailing spaces executable
        run: chmod 500 ./tools/check-trailing-spaces.bash
      - name: Run the script that checks for trailing spaces
        run: ./tools/check-trailing-spaces.bash .
